
/*====================theme====================*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .FormContent input, .FormContent select{
      line-height: 1.1;
  }
  .dataTables_wrapper-overflow{
      padding-bottom: 16px;
  }
}
@supports (-ms-ime-align:auto) {
  .dataTables_wrapper-overflow {
      padding-bottom: 16px;
  }
}
.custom-tab{
  margin-bottom: -2px;
  }
  .custom-tab .nav-tabs{
  background-color: transparent;
  border: none;
  }
  .custom-tab .nav.nav-pills{
  margin-bottom: 0 !important;
  /* margin-left: 30px; */
  }
  .nav-main {
    display: flex;
  }
  #s4-titlerow{
    display: none!important;
  }
  .synergyLogo{
    width: 185px;
  }
  .main-title{
    padding: 10px;
    font-weight: 700;
    font-size: 2rem;
    color: #444444;
    border-right: 2px solid lightgray;
    padding-left: 20px;
    margin-left: 20px;
  }
  .custom-tab .nav.nav-pills li a {
  /* background: #cecece52; */
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  padding: 11px 15px 10px;
  border: 1px solid #ede8e8 !important;
  /* margin: 0 10px 1px 0; */
  overflow: hidden;
  position: relative;
  z-index: 1;
  border: 0;
  /* border-top-left-radius: 5px;
  border-top-right-radius: 5px; */
  border-bottom: 0 !important;
  color: #8e979e;
  background: hsla(0,0%,80.8%,.3215686274509804);
  border-radius: 0;
  }
  .custom-tab .nav.nav-pills li:last-child a{ margin-right: 0; }
  /* .custom-tab .nav.nav-pills li a:hover,
  .custom-tab .nav.nav-pills li.active a{
  color: #666666;
  background: #cccccc;
  border: none;
  } */
  .custom-tab .nav.nav-pills li a:hover {
    color: #938989;
    background: #e7e3e3;
    border: none;
    }
  /* .custom-tab .nav-pills .nav-link.active,
  .custom-tab .nav-pills .nav-link.selected,
  .custom-tab .nav-pills .show>.nav-link {
  /* background-color: #8c8686e3!important; */
  /* background-color: #6c757d!important;
  color: #fff !important;
  } */
  .custom-tab .nav-pills .nav-link.active, 
  .custom-tab .nav.nav-pills li.active a, .custom-tab .nav-pills .nav-link.selected, .custom-tab .nav-pills .show>.nav-link {
     /* background-color: #ffffff!important;
      color: #433a3a!important; */
      color: #fff;
  }
.FormContent{
  position: relative;
  margin-bottom: 10px;
  margin: auto;
  width: 100%;
  background-color: rgb(255 255 255);
  border: 1px solid #e0e0e0;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 8px/7px;
  box-shadow: rgb(0 0 0 / 13%) 0px 2px 12px;
  -webkit-box-shadow: rgb(0 0 0 / 23%) 0px 2px 24px;
  -ms-box-shadow: rgba(0, 0, 0, 0.13) 0px 2px 12px;
  -moz-box-shadow: rgba(0, 0, 0, 0.13) 0px 2px 12px;
  transition: all .4s ease 0s;
  -webkit-transition: all .4s ease 0s; 
}

#s4-ribbonrow{
  display: none!important;
}
.border-box-shadow {
  box-shadow: 0px 10px 24px 0 rgba(0, 0, 0, 0.09);
  -webkit-box-shadow: 0px 10px 24px 0 rgba(0, 0, 0, 0.09);
  -ms-box-shadow: 0px 10px 24px 0 rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0px 10px 24px 0 rgba(0, 0, 0, 0.09);

  transition: all .4s ease 0s;
  -webkit-transition: all .4s ease 0s;          
}
.c-close {
  position: absolute;
  right: -2px;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-shadow: 0 1px 0 #fff;
  top: -7px;
  background-color: #a7a7a7;
  border-radius: 50%;
  height: 22px;
  width: 22px;
  text-align: center;
}
.c-close:hover{
  cursor: pointer;
  background-color: #676767;
}
.custom-control-label {
  line-height: 1.3!important;
  margin-top: 6px!important;
  font-size: .9rem;
}
.table th {
  border-top: 0!important;
  /* background: linear-gradient(rgb(228 228 228), rgb(191 191 191)); */
  background: #0D2F4B !important;
  /* color: #444444; */
  color: #fff;
  font-size: .9rem;
  padding: .95rem .75rem;
}
.btn {
  border-radius: 0!important;
}
.btn-print{
  position: fixed;
  right: 0;
  background-color: #595dbf !important;
  color: #fff !important;
  padding: 4px 6px !important;
  z-index: 9;

}
.btn-print:hover{
  color: #fff;
  opacity: .8;
}
.btn-add{
  border: 1px solid #0D2F4b!important;
  color: #ffffff!important;
  background-color: #0D2F4b!important;
}
.btn-add:hover{
 color: #ffffff!important; 
}
.title {
  background-color: #0D2F4b;
  color: white;
  font-size: 1.5rem;
  padding: 8px 9px;
  position: absolute;
  width: 100%;
  left: -10px;
  top: 10px;
  font-weight: bold;
}
.after-title {
  margin: 60px 0;
}
/* .title p:nth-child(1){
font-size: 2rem;
color: #0D2F4B;
margin-bottom: 1.5rem;
} */
.mandatory-note{
  text-align: right;
  position: absolute;
  right: 10px;
  bottom: 8px;
  font-size: 13px;
}
.calendarContainer .heading .title {
  position: static!important;
  color: black!important;
  font-size: 1rem!important;
}
.calendarContainer .dayWrapper button{
  font-size: .8rem!important;
  height: 30px!important;
  width: 30px!important;
}
.calendarContainer{
  width: 270px!important;
}
.selectToday{
  display: none!important;
}
.calendarContainer .monthsList button{
  font-size: .8rem!important;
}
.calendarContainer .yearsList button{
  font-size: .8rem!important;
}
.light-box-duplicate{
  opacity: 0;
  visibility: hidden;
  position: relative;
  top: -10vh;
  height: 0;
  transition: all .2s ease .1s;
  -webkit-transition: all .2s ease .1s;
}
.light-block-duplicate{
  visibility: visible;
  top: 0;
  opacity: 1;
  height: auto;
}
.nav-tabs .nav-link{
  background-color: #f1f1f1;
  margin: 0 6px 0 0;
  color: #0D2F4B;
  border: 0!important;
  border-bottom: 3px solid #0D2F4B!important;
  margin-right: 0;
  border-radius: 0!important;
  font-weight: bold;
  text-align: center;
  text-align: left;
  font-size: 1.3rem;
}
.border-dashed{
  border: 2px dashed rgba(0, 128, 180, 0.50);      
}
.border-none{
  border: 0;
}
.brd-b-dee2e6{
  border-bottom: 4px solid #dee2e6 !important;
}
.brd-l-dee2e6{
  border-left: 1px solid #dee2e6;
}
.c-bg-title{
  background-color: gainsboro;
}
.label-round {
  box-shadow: 1px 6px 29px rgba(128, 128, 128, 0.4);
  padding: 5px;
  border-radius: 3px;
  color: rgb(0, 128, 180);
  min-width: 31px;
  text-align: center;
  display: inline-block;
}
.light-box {
  /* z-index: 0; */
  border: 1px solid #efefef;
  background-color: white; 

  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;                
  -ms-border-radius: 3px;  
  transition: all .4s ease 0s;
  -webkit-transition: all .4s ease 0s; 
}
.brd-nav-tabs{
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid #dee2e6;
  border-color: #dee2e6 #dee2e6 #fff;
}
.light-box-l{
  border-left: 1px solid #efefef;
}
.light-box-tablist {
  border-color: #dee2e6;               
  border: 1px solid;

  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;                
  -ms-border-radius: 3px;         
  transition: all .4s ease 0s;
  -webkit-transition: all .4s ease 0s; 
  background-color: white;         
}    
.box-shadow-border-0 {
  border: 0;

  box-shadow: -1px 6px 40px rgba(128, 128, 128, 0.18);
  -webkit-box-shadow: -1px 6px 40px rgba(128, 128, 128, 0.18);
} 
.box-shadow-dot44{
  box-shadow: 0px 5px 16px 0 rgba(0, 0, 0, 0.34);
  border: 1px solid rgba(0, 128, 180, 0.44);
}   
.border-burgundy-box-shadow {
  border: 1px dashed rgba(107, 44, 73, 0.5);
}
/*FOR Collateral Management Page*/
.word-break-all{
  word-break: break-all;
}
.select2-results__options::-webkit-scrollbar {
  width: 4px;
  height:4px;
}
.select2-results__options::-webkit-scrollbar-thumb {   
  background: #ababab;     
}
.select2-container--default .select2-selection--single{
  border: 0;
  border-bottom: 1px solid #0D2F4B;
  border-radius: 0;
  height: inherit;
  padding-left: 2px;
  padding-top: .300rem;
  padding-bottom: .300rem;
}
.td-align-middle th{
vertical-align: middle;
}
.td-align-middle td{
vertical-align: middle;
}
.select2-container .select2-selection--single .select2-selection__rendered{
padding-left: 2px;
}
.select2-container{
  width: 100%;
}
.select2-container--default .select2-results > .select2-results__options {
  background-color: transparent;
}
.select2-search--dropdown {
  background-color: #fff;
}
ul.select2-results__options li:nth-of-type(odd){
  background-color: rgba(0,0,0,.05);
}
.select2-container--default .select2-results__option--highlighted[aria-selected]{
  background-color: #ddd;
  color: inherit;
}
.select2-dropdown{
  box-shadow: 0px 10px 24px 0 rgba(0, 0, 0, 0.09);
  border: 1px solid #d8d8d8;
}
div#divPrevCommentsHistory .ev-color:nth-of-type(odd){
  background-color: rgba(0,0,0,.05);
  color: rgb(0, 128, 180);
}
div#divPrevCommentsHistory .ev-color:nth-of-type(even) {
  color: rgb(0, 128, 180);
  background-color: rgba(0, 128, 180, 0.13);
}
span.comments-name {
  margin-right: 10px;
  background-color: rgb(0, 128, 180);
  padding: 3px;
  border-radius: 8px;
  color: white;
  font-size: 13px;
  /* max-width: 50%; */
  display: inline-block;
}
.form-control-box input, .form-control-box select {
  border: 1px solid #ced4da!important;
}
::-ms-clear {
 display: none;
}
.p-t-8{
  top: -8px;
}
.w-45{
  width: 45px;
}
.w-70{
  width: 70px;
}
.w-85{
  width: 85px;
}
.w-100{
  width: 100px;
}
.w-112{
  width: 112px;
}
.w-140{
  width: 140px;
}
.w-170{
  width: 170px;
  margin-left: auto;
}
.w-200{
  width: 200px;
}
.w-280{
  width: 280px;
}
.w-350{
  width: 350px;
}
.max-w-350{
  max-width: 350px;
}
.card .card-header:hover{
cursor: pointer;
}
/* .click-edit-icon{

} */
.check-all{
/*    color: rgb(0, 128, 180);
  border: 1px solid rgb(0, 128, 180);
  padding: 6px 9px;
  border-radius: 3px;
  background-color: rgba(0, 128, 180, 0.13);
  margin: 2px;*/
  padding: 6px 9px;
}
.check-all-inner{
  color: rgb(0, 128, 180);
  padding: 6px 9px;
  border-radius: 3px;
  background-color: rgba(0, 128, 180, 0.13);
  margin: 2px;
}
span.comments-date {
  margin-right: 10px;
  background-color: rgb(0, 128, 180);
  padding: 3px;
  border-radius: 8px;
  color: white;
  font-size: 13px;
}
.brd-left-comments{
  border-left: 5px solid rgba(0, 128, 180, 0.07);
  font-style: italic;
  margin-left: 5px;
  padding-left: 6px;
  font-size: 14px;
}
.fa-angle-market{
  padding-top: 6px;
  border-radius: 6px;
  width: 30px;
  height: 30px;
  color: #005270;
  text-align: center;
  background: linear-gradient(#efefef, #b7b6b6);
  margin: 2px;
}
.fa-angle-market:hover{
  cursor: pointer;
  background: linear-gradient(#4ea3c3, #1D6580);
  color: white;
}
.click-close-box{
  position: relative;
}
/* span.span-fa-close{
  position: absolute;
  right: 3px;
  top: 3px;
  padding: 5px 6px;
  background-color: #f3f3f3;
  box-shadow: 0px 5px 10px #c5c5c5;
  border-radius: 50%;
  color: red;
  z-index: 9;
}
span.span-fa-close:hover{
  cursor: pointer;
} */
/*E N D*/
.ds-none{
  display: none;
}
.ds-block{
  display: block;
}
.media-font-bold{
  font-weight: bold;
}
.cursor{
  cursor: pointer;
}
/*Operations/SitePages/Home*/
#reportData h2{
  background: #f5f5f5;
}
/*E N D*/
/*Modification in Agreements*/
.td-bg-title{
  background-color: rgba(0, 128, 180, 0.2);
  text-align: center;
}
/*E N D*/
/*====================theme_END======================*/
/*====================media_margin_padding======================*/
.table-padding-none td{
  padding-bottom: .2rem;
}
.table-padding-0 td{
  padding: .2rem;
}
.table-padding-none .form-control{
  margin-bottom: 3px;
}
.table-border-none thead th, .table-border-none thead th{
  border-bottom: 0;
}
.table-border-none td, .table-border-none th{
  border-top: 0;
  padding: 0 .3rem;
}
/*Site Suitability*/
#tblSiteSuitable td{
  vertical-align: middle;
}
/* for Ω */
.font-sans{
  font-family: sans-serif; 
}
/*E N D*/
/*Site Approval attachedment*/
.media-px-0{
  padding-right: 0;
  padding-left: 0;
}
/*E N D*/
.media-px-5{
  padding-left: 3rem;
  padding-right: 3rem;
}
.media-px-4{
  padding-left: .9rem;
  padding-right: .9rem;
}
.media-px-3{
  padding-left: 1rem;
  padding-right: 1rem;
}
.media-pl-4{
  padding-left: 1.5rem;
}
.media-pr-4{
  padding-right: 1.5rem; 
}
.media-p-4{
  padding: 1.5rem;
}
.media-p-3 {
  padding: 1rem;
}
.media-p-1 {
  padding: .25rem;
}
.media-m-3 {
  margin: 1rem;
}
.media-mx-3 {
  margin-left: 1rem; 
  margin-right: 1rem; 
}
.media-my-3{
  margin-top: 1rem; 
  margin-bottom: 1rem; 
}
.media-m-2 {
  margin: .5rem;
}
.media-mb-4, .media-my-4 {
  margin-bottom: 1.5rem;
}
.media-mt-4, .media-my-4 {
  margin-top: 1.5rem;
}
.media-h-62 label{
  min-height: 62px;
}    
.media-h-76 label{
  min-height: 76px;
}
.light-box-left{
  margin: 1rem .25rem 1rem 1rem;
  padding: .25rem;
}
.light-box-right{
  margin: 1rem 1rem 1rem .25rem;
  padding: .25rem;
}
.bc-f1f1f1{
  background-color: #f1f1f1;
}
.lg-pr-5{
  padding-right: 5px;
}
.lg-pl-5{
  padding-left: 5px;
}    

/*====================media_margin_padding======================*/
/*====================form Input====================*/
a{
  color: rgb(0, 128, 180);
}
  /*.FormContent label:first-letter {
  text-transform:uppercase
  }
  .FormContent label {
  text-transform:lowercase
  }*/
  .overflow-bulk-table{
      max-height: 55vh;
      overflow-y: auto;
  }
  .overflow-bulk-table::-webkit-scrollbar {
      width: 6px;
      height: 6px;
  }
  .overflow-bulk-table::-webkit-scrollbar-track {
      box-shadow: inset 0 0 1px rgb(208, 208, 208);   
  }
  .overflow-bulk-table::-webkit-scrollbar-thumb {   
      background: #c3c2c2;     
  }
  .FormContent select.title-name{
      border: 1px solid #ced4da;
      border-radius: .25rem;
      padding: 2px;
  }
  /* .FormContent input ,.FormContent select{
      background: transparent;
      border: none;
      border-bottom: 1px solid #0D2F4B;
      padding-left: 2px;
      margin-bottom: 5px;
      padding-top: .38rem;
      padding-bottom: .38rem; 

      box-shadow: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -ms-box-shadow: none; 

      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      -ms-border-radius: 0px;      
  } */
  
.light-text{
  position: relative;
    /* height: 65px; */
    margin-top: 10px;
}
.light-text label{
  position: absolute;
  top: -12px;
  left: 5px;
  padding: 0 5px;
  background-color: #fff;
  z-index: 0;
  font-size: 14px;
  font-weight: bold;
}
/* #chkIsActive{
  position: absolute;
  top: -2px;
   top: 0px;
  left: 15px;
  padding: 0 5px;
  background-color: white;
  z-index: 1;
  font-size: 14px;
} */
.divIsActive{
  display: flex !important;
  width: 300px !important;
  position: relative;
  top: -8px;
}
#lblIsActive{
position: relative !important;
/* width: 100px !important; */
top: 0px !important;
z-index: 0;
}
label{
  /* color: #572ba7; */
  color: #444444;
}
input.c-input-readonly {
  /* background-color: #f8f8f8; */
  border: 1px solid #ced4da;
  color: #495057;
}
.light-text input.form-control {
  height: calc(1.5em + .75rem + 2px)!important;
}
.light-text select.form-control {
  height: calc(1.5em + .75rem + 2px)!important;
}
.light-text textarea.form-control {
  height: auto;
}
.light-text .form-control {
  /* position: absolute; */
  top: 10px;
  width: 100%;
  z-index: 0;
  /* padding: .575rem .75rem; */
}
.light-text input{
  padding-left: 7px;
  padding-top: 4px;
  border-radius: .25rem;
}
.light-text select{
  padding-left: 3px;
  padding-top: 4px;
  border-radius: .25rem;
}

/* .light-text .form-control:focus,.form-select:focus{
  box-shadow: 0 0 0 0.1rem rgba(13,110,253,.25);
} */

  .ms-BasePicker-input{
    width: 100%;

  }
  /*Activity Sheet - Basis [page: IT]*/
  .activity-sheet-input input , select{
      width: 100%;
  }
  /*E N D*/
  input.form-control.input-bg.Contract.datepicker.VARDate{
      background-color: #f1f1f1;
      padding: 5px 14px;
      color: rgb(0, 128, 180);
      border: 0;
  }
  #pAddress{
      min-height: 80px;
      overflow-y: auto;
      margin-bottom: 9px;
      max-height: 135px;
      line-height: 1.2;
  }
  .multiselect-container>li>a>label.checkbox, .multiselect-container>li>a>label.radio{
      padding: 3px;
  }
  .custom-checked:disabled {
    background: #ccc;
}
.loader-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:rgba(255, 255, 255, .78);
  z-index: 9;
}








.custom-control-input:checked~.custom-control-label::before{
  background-color: rgb(0, 128, 180);
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
  background-color: rgb(0, 128, 180);
}
.custom-checkbox label{
  vertical-align: inherit;
}
.mandatory-FormContent-focus + .select2-container .select2-selection:focus{
  border-color: transparent!important;
  box-shadow: 0 0 0 0.2rem rgba(223,43,42,.75)!important;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(223,43,42,.75)!important; 
  outline: none!important;
}

.mandatory-FormContent-focus .sp-peoplepicker-topLevel:focus{
  border-color: transparent!important;

  box-shadow: 0 0 0 0.2rem rgba(223,43,42,.75)!important;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(223,43,42,.75)!important; 
  outline: none!important;
}
.mandatory-FormContent-focus:focus{
  border-color: transparent!important;

  box-shadow: 0 0 0 0.2rem rgba(223,43,42,.75)!important;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(223,43,42,.75)!important;    
  outline: none!important;    
}
.mandatory-FormContent-focus .custom-control-input:focus~.custom-control-label::before{
  border-color: transparent;

  box-shadow: 0 0 0 0.2rem rgba(223,43,42,.75)!important;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(223,43,42,.75)!important;
  outline: none!important;
}
.is-disabled{
  background-color: #e9ecef;
  border: 0;
  color: #b1b1b1;
} 
.datetimepicker[readonly]{
  background-color: transparent;
  opacity: 1;
  border-bottom: 1px solid #0D2F4B; 
}
.form-control[readonly]{
  background-color: #ffffff!important;
    color: #a6a6a6;
    border-color: #eaeaea;
}
.WeekTotal.form-control[readonly],.DayTotal.form-control[readonly],.BillableSubTotal.form-control[readonly],.GrandTotal.form-control[readonly] {
  color: #000;
  font-weight: bold;
}
.attachment-list .fa-window-close{
  position: absolute;
  top: 9px;
  right: 4px;
}
.icon-147{
  line-height: 1.9;
}
.p-rel {
  position: relative;
}
.sidebar{
  margin-left: 15px;
}
.ms-Button-icon:after {
  content: 'X';
  font-style: normal;
  font-weight: bold;
  font-family: cursive;
}
a:active {
  color: #007bff!important;
}
.gHUUHu button[disabled][disabled]{
  background-color: transparent;
}
.gHUUHu button:hover{
  background-color: transparent!important;
}
.geKTIA a {
  color: #007bff!important;
}
.cXcRCo{
  box-shadow: 0 10px 24px 0 rgb(0 0 0 / 9%);
  right:auto !important;
  z-index: 9999;
  max-width: 305px!important;
  min-width: 268px!important;
  top: 47px!important;
  max-height: 280px!important;
}
/* .cXcRCo{
  max-height: 305px!important;
    height: 305px!important;
} */
.kqzMit{
  height: 230px!important;
  text-align: center!important;
}
.fXdwOZ{
  height: 47px!important;
}
.cNgRmR, .iDfotw{
  display: none!important;
}
.flRurG{
  font-size: 12px!important;
}
.iGhKIN,.eBhZXG{
  font-size: 15px!important;
}
.sc-htoDjs{
  line-height: 50px!important;
}
.gbzCct:hover{
  opacity: .7;
}
/* .iGhKIN{
  margin-right: 0!important;
} */
.iQypaS, .fMAYuP, .flRurG, .kZLbeu, .dcWtvq, .lsPuA, .jxOjlU{
  width: 36px!important;
}
.idUBYm:hover{
  opacity: .7;
}
#site_content{
  margin: 15px auto 0 auto!important;
}
/* .Calendar__monthArrowWrapper.-right .Calendar__monthArrow {
  position: absolute;
  left: 16px;
  top: -7px;
}
.Calendar__monthArrowWrapper.-left .Calendar__monthArrow {
  position: absolute;
  left: 16px;
  top: -7px;
} */
.icon-147:hover {
  color: rgb(32, 31, 30);
  background: rgb(200, 198, 196);
}
.btn.upload-btn {
  color: white!important;
  background-color: #0D2F4B!important;
  border-radius: 0!important;
}
.button-area {
  border-top: 1px solid #f3f3f3;
  padding: 20px 0;
  margin-top: 30px;
}
.datetimepicker:disabled{
  background-color: transparent!important;
  background-color: transparent!important;
  border-color: #eaeaea!important;
} 
.form-control:disabled{
  background-color:#fff !important;
}
.form-control:disabled:hover{
  cursor: not-allowed;
}
.custom-control-input:disabled~.custom-control-label:before{
  opacity: .5;
  background-color: #6c757d;
}
.pills-angle{
  color: rgb(0, 128, 180);
  border: 1px solid;
  padding: 2px 7px;
  border-radius: 3px;
  margin: 0;
}
.pills-toggle{
  background-color: #f1f1f1;
  padding: 5px 14px;
  border-radius: 3px;
  color: rgb(0, 128, 180);
  font-size: 1rem;
  border: 0; 
  margin-bottom: 5px 5px;
}
.pills-toggle-active{
  background-color: rgb(0, 128, 180);
  color: white;  
}
.pills-toggle:hover{
  background-color: rgb(0, 128, 180);
  color: white;
  cursor: pointer;
}
.AcceptButtons{
  line-height: 1.5;
  transition: all .15s ease-in-out;
  margin-bottom: 25px;
  background: #0D2F4B;
  color: white;
  border: 1px solid #0D2F4B;
  padding: 6px 18px;
  margin-left: inherit;
  font-family: inherit;
  font-size: inherit;   

  border-radius: 0px;
  -webkit-border-radius: 0px;             
}
.AcceptButtons:hover{
  background: rgba(0, 82, 112, 0.85);
} 
.RejectButtons{
  line-height: 1.5;
  transition: all .15s ease-in-out;
  background: rgb(223,43,42);
  color: white;
  border: 1px solid rgb(223,43,42);

  margin-bottom: 25px;
  padding: 6px 18px;
  margin-left: inherit;
  font-family: inherit;
  font-size: inherit;   

  border-radius: 0px;
  -webkit-border-radius: 0px;             
}
.RejectButtons:hover{
  background: rgb(193, 42, 41);
}
.min-52{
  min-height: 52vh;
  margin-bottom: 132px!important;
}
.height-auto{
  height: auto!important;
}
.top-11{
  top: -11px!important;
}
.SaveButtons{
  line-height: 1.5;
  transition: all .15s ease-in-out;
  background-color: #00aaed;
  color: white;
  border: 1px solid #00aaed;
  margin-bottom: 25px;
  padding: 6px 18px;
  margin-left: inherit;
  font-family: inherit;
  font-size: inherit;

  border-radius: 0px;
  -webkit-border-radius: 0px;          
} 
.SaveButtons:hover{
  background-color: #0085b9;
  color: white;
}
.SaveButtons-lg{
  line-height: 1.5;
  transition: all .15s ease-in-out;
  background-color: white;
  color: #0D2F4B;
  border: 1px solid #0D2F4B;
  margin-bottom: 25px;
  padding: 6px 18px;
  margin-left: inherit;
  font-family: inherit;
  font-size: inherit;

  border-radius: 0px;
  -webkit-border-radius: 0px;          
} 
.SaveButtons-lg:hover{
  background-color: #e9ecef;
  color: #0D2F4B;
}
.ReturnButtons{
  line-height: 1.5;
  transition: all .15s ease-in-out;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgb(115, 115, 115);
  color: rgb(255, 255, 255);

  margin-bottom: 25px;
  padding: 6px 18px;
  margin-left: inherit;
  font-family: inherit;
  font-size: inherit;   

  border-radius: 0px;
  -webkit-border-radius: 0px;      
}  
.ReturnButtons:hover{
  background-color: white;
  border: 1px solid rgb(115, 115, 115);
  color: rgb(115, 115, 115);
}
.buttons{
  line-height: 1.5;
  transition: all .15s ease-in-out;
  margin-bottom: 25px;
  background: #0D2F4B;
  color: white;
  border: 1px solid #0D2F4B;
  padding: 6px 18px;
  margin-left: inherit;
  font-family: inherit;
  font-size: inherit;   

  border-radius: 0px;
  -webkit-border-radius: 0px;             
}
.buttons:hover{
  background: white;
  color: #0D2F4B;
}
.btn{
  margin: 2px!important;
} 
.SubmitButtons{
  line-height: 1.5;
  transition: all .15s ease-in-out;
  margin-bottom: 25px;
  background: #0D2F4B;
  color: white;
  border: 1px solid #0D2F4B;
  padding: 6px 18px;
  margin-left: inherit;
  font-family: inherit;
  font-size: inherit;   

  border-radius: 0px;
  -webkit-border-radius: 0px;             
}
.SubmitButtons:hover{
  background: #0D2F4B;
  color: #ffffff;
}
.ApproveButtons{
  background-color: rgb(109, 61, 76);
  color: white;
  line-height: 1.5;
  transition: all .15s ease-in-out;
  margin-bottom: 25px;        
  border: 1px solid rgb(109, 61, 76);
  padding: 6px 18px;
  margin-left: inherit;
  font-family: inherit;
  font-size: inherit;
  border-radius: 0px;
  -webkit-border-radius: 0px;
}
.ApproveButtons:hover{
  background-color: rgb(138, 78, 97);
  cursor: pointer;
}
.CancelButtons{
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
  line-height: 1.5;
  transition: all .15s ease-in-out;
  margin-bottom: 25px;
  padding: 6px 18px;
  border: 1px solid rgba(138, 137, 137, 0.63);
  margin-left: inherit;
  font-family: inherit;
  font-size: inherit;    

  border-radius: 0px;
  -webkit-border-radius: 0px;            
}    
.CancelButtons:hover{
  background-color: #4e565d;
  color: white;
}

.AcceptButtons, 
.SaveButtons, 
.SubmitButtons, 
.ReturnButtons, 
.CancelButtons, 
.RejectButtons{
  width: 100px;
}
.SubmitButtons-lg{
  line-height: 1.5;
  transition: all .15s ease-in-out;
  margin-bottom: 25px;
  background: #0D2F4B;
  color: white;
  border: 1px solid #0D2F4B;
  padding: 6px 18px;
  margin-left: inherit;
  font-family: inherit;
  font-size: inherit;   

  border-radius: 0px;
  -webkit-border-radius: 0px;             
}
.SubmitButtons-lg:hover{
  background: rgba(0, 82, 112, 0.85);
  /* color: #0D2F4B; */
}
.link-btn{
  margin-bottom: 25px;
  color: #0D2F4B;
  padding: 6px 18px;
  margin-left: inherit;
  font-family: inherit;
  font-size: inherit;   
  border-bottom: 0;

  border-radius: 0px;
  -webkit-border-radius: 0px;             
}
/* .input-peoplePicker-custom .text-250{
    display: block;
    min-width: inherit;
    min-height: inherit;
    border: none;
} */
input.ms-BasePicker-input::after{
  border-top: none!important;
}
.ms-BasePicker-text{
    /* display: block; */
    min-width: inherit;
    min-height: inherit;
    border: none;
    overflow-y: inherit;
    max-height: 199px;
}
.link-btn:hover{
  cursor: pointer;
}
i.removeItem{
  color: red;
}
i.removeItem:hover{
  cursor: pointer;
}
.removerow-btn2{
  text-align: center;
  padding-top: 6px;
  font-weight: 100;

  border: 1px solid rgb(109, 61, 76);
  color: white;
  background-color: rgb(109, 61, 76);

  border-radius: 3px;
  -webkit-border-radius: 3px;  
  bottom: 11px;
  right: 77px;    
}
.removerow-btn2:hover {
background-color: rgb(97, 55, 68);
}
.addrow-btn2{
  text-align: center;
  padding-top: 6px;
  font-weight: 100;

  border: 1px solid rgb(0, 128, 180);
  color: white;
  background-color: rgb(0, 128, 180);

  border-radius: 3px;
  -webkit-border-radius: 3px;  
  bottom: 11px;
  right: 14px;    
}
.addrow-btn2:hover {
  background-color: rgb(3, 100, 140);
}
.removerow-btn{
  text-align: center;
  padding-top: 6px;
  font-weight: 100;

  border: 1px solid rgb(109, 61, 76);
  color: rgb(109, 61, 76);
  background-color: white;

  border-radius: 3px;
  -webkit-border-radius: 3px;        
}
.removerow-btn:hover {
  background-color: rgb(109, 61, 76);
  color: white;
}
.addrow-btn{
  text-align: center;
  padding-top: 6px;
  font-weight: 100;

  border: 1px solid rgb(0, 128, 180);
  color: white;
  background-color: rgb(0, 128, 180);

  border-radius: 3px;
  -webkit-border-radius: 3px;  
  bottom: 11px;
  right: 30px;    
}
.addrow-btn:hover {
  background-color: rgb(3, 100, 140);
}    
div[id^="_TopSpan_NotificationSpan"]{
  display: none;
}
.sp-peoplepicker-topLevel{
  border-bottom: 1px solid #0D2F4B;
  padding: 5px;
  margin-bottom: 9px;
  white-space: normal;
  line-height: 1.4;
}
.sp-peoplepicker-userSpan{
  width: 100%;
}
.sp-peoplepicker-autoFillContainer{
  box-shadow: 0px 10px 24px 0 rgba(0, 0, 0, 0.18);
  -webkit-box-shadow: 0px 10px 24px 0 rgba(0, 0, 0, 0.18);
  -ms-box-shadow: 0px 10px 24px 0 rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 10px 24px 0 rgba(0, 0, 0, 0.18);
  border: 0;
}
.form-control .ms-entity-resolved{
  width: 100%;
  max-width: 200px;
}
.sp-peoplepicker-autoFillContainer .ms-core-menu-item{
  white-space: normal;
}
/* .FormContent textarea.form-control{
  border-bottom: 1px solid #0D2F4B;  
  margin-bottom: 9px;  
  padding: 2px 5px; 
  line-height: 1.2;     
}     */
.label-sm{
  display: none;
}
.custom-control-label::before{
  background-color: #c6c6c6;
}
.myapproval-btn{
  padding: .5rem .2rem;
  margin: 0 0 5px 0;
  color: rgb(0, 128, 180);
  display: inline-block;
}
.myapproval-btn:hover{
  text-decoration: none;
  cursor: pointer;
}    
#v-pills-home .active{
  border-bottom: 2px solid rgb(0, 128, 180);
  background: rgb(241, 241, 241);
}    
.paragraph-hint{
  font-size: 12px;
  margin-top: 5px;
}
.non-standard-free-text {
  position: relative;
  overflow: hidden;
  height: 150px;
}
.nonstandard-readmore {
  position: absolute;
  bottom: 5px;
  right: 5px;
  z-index: 9;
  color: rgb(0, 128, 180);
  cursor: pointer;
  background: rgba(243, 243, 243, 0.9);
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #e4e4e4;
}
.mandatoryhastrick{
  color: red;
  font-size: 1rem;
}
.FormContent .upload{
  border-bottom: 0;
}
.upload{
  padding: 5px;
  height: inherit;
  box-shadow: 0px 0px 30px rgba(128, 128, 128, 0.2196078431372549)!important;
  -webkit-box-shadow: 0px 0px 30px rgba(128, 128, 128, 0.2196078431372549)!important;
  -ms-box-shadow: 0px 0px 30px rgba(128, 128, 128, 0.2196078431372549)!important;
}
.checkbox-upload-row:nth-child(odd){
  background-color: #f3f3f3;
}
.attachment-area{
  border: 1px solid #b9b6b62e;
}
.attached-zipped {
  padding: 5px;
  font-size: .8rem;
  color: #505050; 
  list-style-type: none;
}
.attachment-paperclip {
      /*padding: 5px;
      border: 2px solid #ececec;
      border-radius: 7px 0;
      background-color: #ececec;*/
      padding: 4px;
      padding-right: 10px;
      border-right: 1px solid #cccccc;
  }
  .attachment-row{
      padding: 5px;
      font-size: .8rem;
      color: #505050; 
      background-color: #eaeaea;     
  }
  .attachment-list{
      padding: 0;
      margin-bottom: 0;
      list-style-type: none;
      overflow-y: auto;
      max-height: 250px;
  }
  .attachment-list li{
      border-bottom: 1px solid #efefefa6;
      padding: 8px;
      font-size: .8rem;
      color: #505050; 
      background-color: #eaeaea;         
  }
  .attachment-list li:nth-child(odd) {
      background-color: #f5f5f5;
  }
  .attachment-list li:hover{
      color: rgb(0, 128, 180);
      cursor: pointer;
      transition: all .2s ease 0s;
      -webkit-transition: all .2s ease 0s;
  }
  .ol-order-a{
      list-style-type: lower-alpha;
      margin-bottom: 0;
  }
  .ol-order-a1{
      list-style-type: none;
  }
  .ol-order-a1 span{
      font-size: .9rem;
  }
  .list-custom-checkbox .custom-control{
      border-bottom: 1px solid #8080801c;
  }
  .list-custom-checkbox .custom-control label{
      line-height: normal;
  }
  .list-custom-checkbox .fa-paperclip{
      position: absolute;
      right: 0;
      top: 3px;
  }
  .list-custom-checkbox .fa-paperclip:hover{
      cursor: pointer;
  }
  /*Collateral Management*/
  .fa-edit{
      cursor: pointer;
  }
  .fa-close{
      cursor: pointer;
  }
  .fa-close:hover{
      color: rgb(109, 61, 76);
  }
  /*E N D*/
  .alert-ok{
      width: 50%;
      margin: auto;
  }
  ::placeholder {
      color: #B5B4B4;
  }

  ::-ms-input-placeholder {
      color: #B5B4B4;
  }
  :-ms-input-placeholder {
      color: #B5B4B4;
  }

  ::-webkit-input-placeholder {
      color: #B5B4B4;
  }
  /*====================form Input end====================*/
  /*====================data Table======================*/
  .data-filter-none::after, .data-filter-none::before {
      visibility: hidden;
  }
  .row{
    display: flex;
  }
  .col-md-3{
    width: 19%;
    padding: 0 5px;
    display: inline-block;
  }
  .col-sm-12{
    width: 100%;
    padding: 0 5px;
  }
  .dataTables_wrapper .row:first-child {
      margin-top: 20px;
  }
  .dataTables_wrapper .col-sm-12{
      padding: 0;
  }
  .dataTables_wrapper table {
      border: 1px solid #d2d1d1;
      border-radius: 3px;
      -webkit-border-radius: 3px;
  }
  .dataTables_wrapper .table th{
      border-top:0;
      background: linear-gradient(#0D2F4B, rgba(0, 82, 112, .75));
      color: white; 
      font-size: .9rem;
      font-weight: normal;  
  }
  .SPUN-table .dataTables_wrapper .table th{
      border-bottom: 0; 
  }
  .SPUN-table .dataTables_wrapper .table td{
      padding: .5rem;
  }
  .dataTable-table{
      border: 1px solid #d2d1d1;
      border-radius: 3px;
      border-spacing: 0px;      
  }
  .v-table{
      /* width: 99vw !important; */
      margin: auto;
      /* margin-top: 80px !important; */
  }
  .c-v-table{
    /* width: 82vw; */
    margin: auto;
}
  .dataTable-table td , th{
      border-top:0;
  }
  /* .border-muted td , th{

  } */
  .page-item.active .page-link{
      background-color: #0D2F4B;
      border-color: #0D2F4B;
      color: white;
  }
  .page-link{
      color: #0D2F4B;
  }
  .dataTables_wrapper-overflow #piechart{
      margin: auto;
  }
  .dataTables_wrapper-overflow:hover{
      box-shadow: 0 3px 3px -2px rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12);
      -webkit-box-shadow: 0 3px 3px -2px rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12);
      -ms-box-shadow: 0 3px 3px -2px rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12);
      -moz-box-shadow: 0 3px 3px -2px rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12);
  }
  /*Style for 'Generaton of Project Services Offers' Page under Technical */
  .paragraph-ol{
      position: absolute;
      left: -15px;
      top: 8px;
  }
  /*====================E N D======================*/

  /*====================data Table end======================*/
  .count-active{
      position: absolute;
      top: -8px;
      color: rgb(0, 128, 180);
      background-color: rgb(255, 255, 255);
      border: 1px solid rgba(0, 128, 180, .5);
      padding: .5rem 1rem;
  }
  .shift2next ul{
      list-style-type: none;
      font-size: .9em;
      padding: 0;
      border:1px solid #ced4da45;
  }    
  .shift2next ul li{
      border-bottom: 1px solid #ced4da45;
      padding: .25rem;    
      transition: all .4s ease 0s;
      -webkit-transition: all .4s ease 0s;            
  }
  .font-sm-table *{
      font-size: .9rem;
  }
  .ovr-flw{
      max-height: 120px;
      margin-bottom: 9px; /*Inspect*/
      overflow-y: auto;
  }
  .ovr-flw-sm{
      max-height: 170px;
      margin-bottom: 9px; /*Inspect*/
      overflow-y: auto;
  }
  .ovr-flw-md{
      max-height: 300px;
      overflow-y: auto;
  }
  .ovr-flw-table{
      max-height: 55px;
      overflow-y: auto;
      transition: all .2s ease 0s;
      -webkit-transition: all .2s ease 0s;    
  }    
  .shift2next ul li:hover{
      background-color: #efefef;
      cursor: pointer;
      transition: all .4s ease 0s;
      -webkit-transition: all .4s ease 0s;             
  } 
  .secondary-text{
      position: absolute;
      margin-left: 8px;
      margin-top: -11px;
  }
  .secondary-text-in{
      position: absolute;
      top: 13%;
      width: 100%;
  }
  .secondary-text span{
      width: 240px;
      background-color: #df2b2a;
      display: inline-block;
      height: 50px;
      box-shadow: 4px 7px 10px rgba(128, 128, 128, 0.21176470588235294);
      -webkit-box-shadow: 4px 7px 10px rgba(128, 128, 128, 0.21176470588235294);        
  }
  .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
      color: #fff;
      background-color: rgb(0, 128, 180);
  }  
  .nav-tabs .nav-link.active{
    /* color: #ffffff!important;
    background-color: #0D2F4B!important;
    position: relative; */
    color: #fff !important;
    background-color: #0d2f4b !important;
    position: relative;
    font-size: 1.3rem;
    text-align: left;
  } 
  .nav-tabs .nav-link.active:after {
    content: "";
    position: absolute;
    bottom: -22px;
    z-index: 9999999999;
    left: 40%;
    border: 10px solid transparent;
    border-top-color: #0D2F4B;
    border-top-color: #0D2F4B;
} 
  .nav-pills .nav-link{
      cursor: pointer;
  }
  .validator-focus{
      border-bottom: 0; 

      box-shadow: 0 0 0 0.1rem rgba(223,43,42,.50);
      -webkit-box-shadow: 0 0 0 0.1rem rgba(223,43,42,.50);         
  }
  .text-validator{
      color: rgb(223,43,42);
      margin: 1rem;
      padding: .25rem;
      font-family: sans-serif;
      transition: all .4s ease 0s;
      -webkit-transition: all .4s ease 0s;  
  }
  .note{
      background-color: rgba(0, 128, 180, 0.16);
      color: rgb(0, 128, 180);
      text-align: center;
      border-left: 2px solid;
  }   
  /*====================form input END====================*/

  /*====================form media====================*/
  @media only screen and (max-width: 1210px) {
      .sp-peoplepicker-userSpan{
          font-size: .8rem;
          white-space: normal;
          margin-left: 0;
      }
      .sp-peoplepicker-userPresence{
          display: none;
      }
  }

  @media only screen and (max-width: 1525px) {
    .dataTables_wrapper-overflow{
        width: 94vw!important;
    }
  }

@media only screen and (max-width: 1406px) {
  .dataTables_wrapper-overflow{
      width: 92vw!important;
  }
}
@media only screen and (max-width: 1100px) {
  .dataTables_wrapper-overflow{
      width: 90vw!important;
  }
}
@media only screen and (max-width: 800px) {
  .dataTables_wrapper-overflow{
      width: 88vw!important;
  }
}




  @media only screen and (max-width: 930px) {
      .dataTables_wrapper-overflow{
          overflow-x: auto;
          margin: auto;
          width: 83vw;
      }
  }
  @media only screen and (max-width: 767px) {
      .media-h-60{
          height: 60px;
      }
      .media-font-sm{
          font-size: .8rem;
      }
      .media-h-62 label{
          min-height: inherit;
      }    
      .media-h-76 label{
          min-height: inherit;
      }  
      .media-font-bold{
          font-weight: normal;
      }
      .label-sm{
          display: inline-block;
      }
      .light-box-left{
          margin: 1rem 1rem 1rem 1rem;        
      }
      .light-box-right{
          margin: 1rem 1rem 1rem 1rem;        
      }
      .lg-pr-5{
          padding-right: 15px;
      }
      .lg-pl-5{
          padding-left: 15px;
      }    
  }
  .justify-content-end-sp{
    justify-content: flex-end;
  }
  .justify-content-end-sp .text-right-col-6{
    text-align: right;
  }
  .justify-content-end-sp .sp-d-inline{
    display: inline;
  }
  .dataTables_wrapper-overflow{
    margin: auto;
  }
  @media only screen and (max-width: 670px) {
      /*SiteApproval attachment-area*/
      .loader{
          left: 45%;
      }
      .media-px-0{
          padding-right: 15px;
          padding-left: 15px;
      }
      /*E N D*/
      .dataTables_wrapper-overflow{
          overflow-x: auto;
          width: 79vw;
      }
      .alert-ok{
          width: 100%;
      }
      .text-validator{
          text-align: left;
          width: 100%;
          display: inline-block;
          padding: .75rem;
          margin: 0;
      }
      /* .title p:nth-child(1){
          font-size: 1.5rem;
      } */
      .mandatory-note{
          font-size: .7rem;
      }
      .media-checkbox-center::before{
          left: 50%;
      }
      .media-checkbox-center::after{
          left: 50%;
      }
      .sp-peoplepicker-userSpan{
          font-size: 1rem;
      }    
  }
  @media only screen and (max-width: 480px) {
      .FormContent{
          padding: 0 10px;
      }
      .loader{
          left: 40%;
      }
      .container-fluid{
          padding-left: 0;
          padding-right: 0;
      }
      .attachment-list{
          margin: auto;
          max-height: 215px;
          overflow-y: auto;
      }
      .AcceptButtons, .SaveButtons, .SubmitButtons, .ReturnButtons, .CancelButtons, .RejectButtons{
          width: auto;
      }
      .media-px-5{
          padding-left: 0;
          padding-right: 0;
      }
      .media-px-4{
          padding-left: 0;
          padding-right: 0;
      }
      .media-px-3{
          padding-left: 0;
          padding-right: 0;
      }
      .media-pl-4{
          padding-left: 0;
      }
      .media-pr-4{
          padding-right: 0;
      }
      .media-p-4{
          padding: 0.20rem;  
      }
      .media-p-3 {
          padding: 0.20rem;
      }
      .media-m-3 {
          margin: 0.60rem;
      }
      .media-mx-3 {
          margin-left: 0.60rem;
          margin-right: 0.60rem;
      }
      .media-my-3 {
          margin-top: 0.60rem;
          margin-bottom: 0.60rem;
      }
      .media-m-2 {
          margin: 0;
      }
      .media-mb-4, .media-my-4 {
          margin-bottom: 1rem;
      }
      .media-mt-4, .media-my-4 {
          margin-top: 1rem;
      }
      div.ms-cui-TabRowRight{
          display: none;
      }
  }
  @media only screen and (max-width: 480px) {
      .FormContent{
          padding: 0 10px;
      }
  }
/*====================form media END====================*/
.cc-loading{
  /* display: none; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all .6s ease-in-out;
  -webkit-transition: all .6s ease-in-out;
  -ms-transition: all .6s ease-in-out;
  -moz-transition: all .6s ease-in-out;
  z-index: 9;
  background: rgba(255, 252, 252, 0.84);
}
.span-link{
  font-weight: 400;
  color : #007bff;
  text-decoration: underline;
  padding-right: 15px;
}
.span-link:hover{
  cursor:pointer;
}
.loader {
z-index: 9;
width: 60px;
height: 60px;
border: none !important;
/* border: 3px solid rgb(223,43,42); */
border-left-color: transparent;
border-right-color: transparent;
-webkit-animation: spin 1s linear infinite, colors 5.6s linear infinite;
animation: spin 1s linear infinite, colors 5.6s linear infinite;
border-radius: 50%;
position: fixed;
left: 47.5%;
top: 43.5%;
}
.SynergyLogo{
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.bc-dblue {
  background-color: #0D2F4B!important;
}
.bc-burgundy {
  background-color: rgb(109, 61, 76)!important;
}
.txt-white {
  color: rgb(255, 255, 255)!important;
}
/*remove imagefrom people picker */
.ms-Persona-coin {
  display: none;
 }
 /* .icon-export-b {
   background-image: linear-gradient(#ffffff, #effdff); 
  text-align: center;
  margin-right: 3px;
  border-radius: 4px;
  color: #016F38;
  font-size: 18px !important;
  transition: all .4s ease 0s;
  -webkit-transition: all .4s ease 0s;
} */
.icon-export-b {
  background-image: linear-gradient(#ffffff, #effdff); 
 text-align: center;
 margin-right: 3px;
 border-radius: 0;
 color: #016F38;
 font-size: 26px !important;
 transition: all .4s ease 0s;
 -webkit-transition: all .4s ease 0s;
}
.text-center{
  text-align: center!important;
}
.icon-export-b:hover {
  color: #03a253;
}
.div-export {
  padding: 4px 20px;
}
.data-table-extensions{
  position: relative;
}
.div-export{
  position: absolute;
  right: 0px;
  top: 2px;
}
.activediv{
  display: none;
} 
#sideNavBox{
  display: none;
}
#sidenav{
  display: none;
}
.z-in-0{
  z-index: 0;
}
.add-button {
  transition: all .15s ease-in-out;
    /* background: #ffffff;
    color: #0D2F4B; */
    background: #0D2F4B;
    color: #ffffff;
    border-radius: 10px;
    width: 60px;
    height: 40px;
    display: inline-block;
    text-align: center;
    margin: 0;
    padding: 9px 0 0;
    border: 2px solid #0D2F4B;
}
.add-button .fa-plus {
  font-size: 1.1rem;
}
.add-button:hover{
  cursor: pointer;
  transition: all .15s ease-in-out;
    /* background: #0D2F4B;
    color: #ffffff; */
    background: #ffffff;
    color: #0D2F4B;
    border: 2px solid #0D2F4B;
}
#contentBox {
  margin-left: 10px!important;
}
/* .new-calender{
  z-index: 999!important;
} */
/* .Calendar {
  font-size: 8px!important;
} */

/* .custom-peoplepicker input{
  padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
} */

.custom-peoplepicker input{
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  border: 0;
  height: inherit;
  position: relative;
  top: -3.55px;
  /* background-color: #fff;
  background-clip: padding-box; */
/*    border: 1px solid #ced4da;
  border-radius: 0.25rem;*/
}

.custom-peoplepicker{
  border: 1px solid #ced4da;
  border-radius: 0.25rem;    
}
.ms-BasePicker-text{
  padding-top: 7px;
}
.ms-BasePicker-text::after{
  border: none !important;
}


.custom-datepicker{
position: relative;
}

/* input.ms-BasePicker-input {
  border: none;
}
.custom-datepicker .DatePicker {
  position: absolute;
  display: block;
  width: 100%;
}
.custom-datepicker .DatePicker__input{
text-align: left;
font-size: 1rem;
height: calc(1em + .75rem + 2px);
padding: .375rem .75rem;
} */


.eQmQXs{
  z-index: 999!important;
}
.z-in-9{
  z-index: 999!important;
}
.nav-click{
  background-color: #bbb!important;
}
li {
  list-style-type: none;
}
.rdt_TableHeadRow div.sc-eCssSg:nth-child(1) {
  width: 80px;
  min-width: 80px;
  max-width: 80px;
}
#cell-1-undefined{
  width: 80px;
  min-width: 80px;
  max-width: 80px;
}
.brd-btm{
  border-bottom: 2px solid #efefef;
}
.svg-inline--fa.fa-w-12
{
  width: 1.5em !important;
  height: 1.5em !important;
}

#btnSave{
  width: auto !important;
}
@media only screen and (max-width: 1440px) {
	.v-table{
		width: 75vw!important;
	}
  /* .c-v-table{
		width: 77vw!important;
	} */
}
@media only screen and (max-width: 1356px) {
	.v-table{
		width: 72vw!important;
	}
  /* .c-v-table{
		width: 75vw!important;
	} */
}
@media only screen and (max-width: 1304px) {
	/* .v-table{
		width: 71vw!important;
	} */
  /* .c-v-table{
		width: 74vw!important;
	} */
}
@media only screen and (max-width: 1211px) {
	/* .v-table{
		width: 68vw!important;
	} */
  /* .c-v-table{
		width: 70vw!important;
	} */
}
@media only screen and (max-width: 1096px) {
	/* .v-table{
		width: 67vw!important;
	} */
  /* .c-v-table{
		width: 67vw!important;
	} */
}
@media print {
  .FormContent{
    margin-top: 15px!important;
  }
  .title{
    position: static!important;
    background-color: #545454!important;
    width: 99%!important;
    margin: auto!important;
    margin-top: 4px!important;
  }
  .mandatory-note {
    position: static!important;
    float: right;
  }
  .after-title {
    margin: 0!important
}
  #content{
    padding: 0!important;
    min-height: inherit!important;
  }
  button {
    display: none!important;
  }
  .add-button {
    display: none!important;
  }
  .container-fluid {
    padding: 0;
  }
  #content-r {
    margin: 0;
    background: transparent !important;
  }

  .ms-wikicontent {
    padding-right: 0 !important;
  }
  .ms-webpartzone-cell {
    margin: 0;
  }
  .sidebar {
    display: none!important;
  }

  #ms-designer-ribbon {
    display: none!important;
  }

  #site_content {
    display: block!important;
    margin-top: -8px!important;
    overflow: auto!important;
  }
  #main #site_content {
    display: block!important;
    margin-top: -8px!important;
    overflow: auto!important;
  }

  .footer.ms-dialogHidden {
    display: none!important;
  }
  .botom-border {
    display: none!important;
  } 

  /* #layoutsTable tbody tr:last-child {
    display: none!important;
  } */
}
.height-calc{
    height: calc(1.5em + .75rem + 2px);
}
.confirm-box__overlay{
  background-color: rgb(0 0 0 / 32%)!important;
}
.table-head-1st-td .eBWcrR .bRirNn:nth-child(1){
  min-width: 72px;
  max-width: 72px;
}
.class-grand-total{
  position: absolute;
  right: 3px;
  top: 4px;
  border-radius: 33px;
  background-color: #0D2F4B;
  color: white;
  padding: 4px 9px;
}
.sub-total{
  text-align: right;
    margin-right: 2rem;
    display: block;
    font-weight: bold;
}
.text-134::after{
  display: none;
}

#divAddNewWeeklyTimeSheet,#divAddNewEmployeeMaster,#divNewWeeklyTimeSheet{
  position: relative;
}
/* #newWeeklyTimeSheet{
  position: absolute;
  right: 10px;
  top: -70px;
  z-index: 10;
} */
.ms-PickerPersona-container{
  padding: .125rem .1rem;
  border-radius: 24px !important;
}
.ms-PickerPersona-container .ms-Button-icon:after{
  content: '';
}
.ms-PickerItem-removeButton i {
  font-weight: bold;
}
.text-150::after{
  border: none!important;
}

.ms-BasePicker-itemsWrapper{
  width: 100%;
}

.divWeeklyStartDate{    
  position: relative !important;
  left: 40px !important;
  width: 150px !important;
  }

  .ddlClient{
    height: 35px !important;
  }

  .weeklysection1{
    margin-bottom: 1pc !important;
  }

  .dateWeeklyTimesheet,.txtEmployeeName{
    height: 35px !important;
  }

  #fax{
    font-size: 0.8rem !important;
    font-weight: bold !important;
  }
  input[type="time"]::-webkit-calendar-picker-indicator { 
    background: none !important;
     display:none !important; 
  }

  #tablePDF{
    position: relative;
    /* top: 50px; */
  }

  #txtTableSearch{
    width: 240px;
    /* height: 15px; */
    /* position: absolute; */
    /* left: 5px; */
    /* top: 10px; */
  }


  #newEmployeeMasterForm,#newWeeklyTimeSheet{
    position: absolute;
    z-index: 10;
    left: 15px;
    /* height: 25px; */
    width: 80px;
    text-align: center;
    cursor: pointer;
    top: 5px;
  }

  .nav-item{
    display: inline-block;
  }
  .nav-item a{
    color: #444 !important;
    text-decoration-line: none !important;
    font-size: 1.1rem !important;
  }
  .Billable {
    margin-top: 4rem !important;
  }

  .modal-header-reject {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
    background: #ff18022b;
    color: red;
}

.modal-header-Approve {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: calc(.3rem - 1px);
  border-top-right-radius: calc(.3rem - 1px);
  background: #0d2f4b;
  color: #fff;
}

.bRirNn{
  font-size: 13px !important;
  font-weight: bold;
}

.lkrJOt{
  font-family: sans-serif !important;
}

.Sun .TimeInput-input,.Sat .TimeInput-input{
  color: rgb(241, 94, 94);
}
#s4-workspace{
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}
.iconApprove,.iconReject{
  cursor: pointer;
}
.fa-xmark{
  position: relative;
  z-index: 0;
}
.cLrkOt,.hlXCTj,.hbotQl{
overflow:inherit !important;
}
.hbotQl{
  overflow: initial !important;
}
.kcxRMj{
  line-height: 1.5 !important;
}
.lblPeoplepicker,.lblClient{
z-index: 1 !important;
}
.holiadyForm,.clientForm{
position: relative;
top: 3px;
}
  /* .tabsBackground{
    background-color: #0D2F4B !important;
    color: #ffff !important;
    font-size: 1.5rem;
    padding: 8px 9px;
    position: absolute;
    width: 100%;
    left: -10px;
    top: 10px;  
  } */
  .infoPlaceholder::-webkit-input-placeholder {
    font-weight: lighter;
    color: #d9d4d4;
    }
    .infoPlaceholder::-moz-placeholder {
    font-weight: lighter;
    color: #d9d4d4;
    }
    .ddlEmployee{
      width: auto !important;
    }
    .th-description{
      width: 134px;
    }
    .th-Project-Code{
      width: 134px;
    text-align: center;
    }
    .th-total{
      width: 70px;
    margin: auto;
    text-align: center;
    }
    .table-outer{
      overflow-x: auto;
    }
    .fxdyfQ{
      min-height: 45px!important;
    }
    .bHQcOt{
      min-height: 45px!important;
    }
    #WeeklyTimeSheet{
color: #fff;
    }
.table-td-p-0 td{
padding: 0 4px!important;
}

